{% extends "Manager Templates/ManagerBase.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-9 col-md-10"><!--For Adjustment-->

                <div id="MyBookingHeadingBox" class="row">
                    <div class="col"><h1 class="text-center"> List of Task's</h1></div>
                </div>
                <div id="MyBookingSubHeadingBox"  class="row text-center justify-content-center">
                    <div class="col pt-2 pb-2">
                        <a class="TaskLinks" type="button" data-bs-toggle="modal" data-bs-target="#TaskFilterByDateModal">By Date</a>
                    </div>
                    <div class="col pt-2 pb-2">
                        <a class="TaskLinks" type="button" data-bs-toggle="modal" data-bs-target="#TaskFilterByMonthModal">By Month</a>
                    </div>
                </div>

                <div id="BookingListBox" class="row justify-content-center">
                    {% if flag %}

                    {% else %}
                        <h4 class="mb-5 mt-2 text-center">Empty</h4>
                    {% endif %}
                    {% for i in bookings %}
<!--                    <h1>{{i.complete_time}} == {{date}}</h1>-->
                        {% for j in tasks %}
                            {% if i == j.booking_id %}
                                {% if monthfilter %}
                                    {% if i.booking_provide_date == date %}
                                        <div  class="col-10 mb-3">
                                            <div class="card mb-3" data-aos="zoom-in" data-aos-duration="500">
                                              <div id="Bookingitem" class="row g-0">
                                                <div class="col-12 col-md-4 align-self-center p-2 ps-md-2 pe-md-2 p-lg-3 p-xl-5">
                                                    <img src="/media/{{ i.service_id.simage }}" class="img-fluid rounded" alt="...">
                                                </div>
                                                    <div class="col-md-8 col-12 mt-xl-3 mt-xxl-4">
                                                      <div class="card-body">
                                                        <h4 class="card-title mb-3">{{i.service_id}}</h4>
                                                            {% for c in bookings_copy %}
                                                                {% if c.id == i.id %}
                                                                    <p><b> Provide Date: </b>: {{c.booking_provide_date}} {{c.booking_provide_time}}</p>
                                                                {% endif %}
                                                            {% endfor %}
                                                            <p><b>User Email:</b> {{i.user_id}}</p>
                                                            <p><b>Status:</b> {{j.status}}</p>
                                                            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CheckStatusModal{{j.id}}">Check More</a>
                                                      </div>
                                                    </div>
                                              </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div  class="col-10 mb-3">
                                        <div class="card mb-3" data-aos="zoom-in" data-aos-duration="500">
                                          <div id="Bookingitem" class="row g-0">
                                            <div class="col-12 col-md-4 align-self-center p-2 ps-md-2 pe-md-2 p-lg-3 p-xl-5">
                                                <img src="/media/{{ i.service_id.simage }}" class="img-fluid rounded" alt="...">
                                            </div>
                                                <div class="col-md-8 col-12 mt-xl-3 mt-xxl-4">
                                                  <div class="card-body">
                                                    <h4 class="card-title mb-3">{{i.service_id}}</h4>
                                                        <p><b> Provide Date: </b>: {{i.booking_provide_date}} {{i.booking_provide_time}}</p>
                                                        <p><b>User Email:</b> {{i.user_id}}</p>
                                                        <p><b>Status:</b> {{j.status}}</p>
                                                        <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CheckStatusModal{{j.id}}">Check More</a>
                                                  </div>
                                                </div>
                                          </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}

                             <div class="modal fade" id="CheckStatusModal{{j.id}}" tabindex="-1" aria-labelledby="CheckStatusModalLabel{{j.id}}" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="CheckStatusModalLabel{{j.id}}">Booking Status</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body container-fluid bg-secondary-subtle">
                                    <div class="row ms-3">
                                        <div class="col-6 fw-semibold">
                                            <p>Task Status</p>
                                        </div>
                                        <div class="col-6 fw-semibold">
                                            <p>: {{j.status}}</p>
                                        </div>
                                        <div class="col-6 fw-semibold">
                                            <p>Booking Time</p>
                                        </div>
                                        <div class="col-6">
                                            <p>: {{j.booking_id.booking_date_time}}</p>
                                        </div>
                                        <div class="col-6 fw-semibold">
                                            <p>Booking Provide Time</p>
                                        </div>
                                        <div class="col-6">
                                            <p>: {{j.booking_id.booking_provide_date}}, {{j.booking_id.booking_provide_time}}</p>
                                        </div>
                                        {% if j.status != "Pending" %}
                                            <div class="col-6 fw-semibold">
                                                <p>Allocated Serviceman</p>
                                            </div>
                                            <div class="col-6 fw-semibold">
                                                <p>: {{j.serviceman_id}}</p>
                                            </div>
                                        {% endif %}
                                        <div class="col-6 fw-semibold">
                                            <p>Assign On</p>
                                        </div>
                                        <div class="col-6">
                                            <p>: {{j.assign_time}}</p>
                                        </div>
                                        <div class="col-6 fw-semibold">
                                            <p>Picked On</p>
                                        </div>
                                        <div class="col-6 ">
                                            <p>: {{j.pick_time}}</p>
                                        </div>
                                        <div class="col-6 fw-semibold">
                                            <p>Work Start On</p>
                                        </div>
                                        <div class="col-6">
                                            <p>: {{j.start_time}}</p>
                                        </div>
                                        {% if j.close_task != None %}
                                            <div class="col-6 fw-semibold">
                                                <p>Reason of Close Task</p>
                                            </div>
                                            <div class="col-6">
                                                <p>: {{j.other}}</p>
                                            </div>
                                            <div class="col-6 fw-semibold">
                                                <p>Close On</p>
                                            </div>
                                            <div class="col-6">
                                                <p>: {{j.close_task}}</p>
                                            </div>
                                        {% else %}
                                            <div class="col-6 fw-semibold">
                                                <p>Work Completed On</p>
                                            </div>
                                            <div class="col-6">
                                                <p>: {{j.complete_time}}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<!-- Filter By Date -->
<div class="modal fade" id="TaskFilterByDateModal" tabindex="-1" aria-labelledby="TaskFilterByDateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center fs-5" id="TaskFilterByDateModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/fetch_list_of_all_task_by_date" method="post">
          {% csrf_token %}
          <div class="modal-body row text-center justify-content-center">
              <div class="col-6">
                <input type="date" name="date" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Proceed</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Filter By Month Year -->
<div class="modal fade" id="TaskFilterByMonthModal" tabindex="-1" aria-labelledby="TaskFilterByMonthModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center fs-5" id="TaskFilterByMonthModalLabel">Filter</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/fetch_list_of_all_task_by_month" method="post">
          {% csrf_token %}
          <div class="modal-body row text-center justify-content-center">
              <div class="col-6">
                <input type="month" name="monthyear" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Proceed</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
