{% extends "User Templates/Base.html" %}

{% block content %}

{% if messages %}
  {% for msg in messages %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
          Swal.fire({
          title: "Success!",
          text: "{{msg}}",
          icon: "success"
          });
        </script>
      {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
          Swal.fire({
          title: "Opps...",
          text: "{{msg}}",
          icon: "error"
          });
        </script>
      {% endif %}
  {% endfor %}
{% endif %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="loginbox" class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4">     <!-- For Adjustment -->

          <div class="row">
            <div id="loginheading" class="col text-center">
                <h2>Login Help</h2>
            </div>
          </div>
          <form action="/{{url}}" method="post">
            {% csrf_token %}
            <div id="logincontent" class="row justify-content-center align-items-center ">

              {% if otp %}
              <div class="col-11 col-sm-9">
                  <div class="form-floating mb-4">
                    <input type="email" name="email" value="{{email}}" class="form-control" id="floatingInput" readonly required placeholder="name@example.com">
                    <label for="floatingInput">Your Email</label>
                  </div>
                </div>
              <div class="col-11 col-sm-9">
                <div class="form-floating mb-4">
                  <input type="tel" name="otp" pattern="[0-9]{6}" class="form-control" required placeholder="">
                  <label for="floatingInput">Enter OTP</label>
                </div>
              </div>
              {% else %}
                <div class="col-11 col-sm-9">
                  <div class="form-floating mb-4">
                    <input type="email" name="email" value="{{email}}" class="form-control" id="email" required placeholder="name@example.com"
                            oninput="
									const email = this.value.trim();
									const isValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);

									if (!isValidEmail) {
										this.setCustomValidity('Please enter a valid email address');
										this.reportValidity();
									} else {
										this.setCustomValidity('');
										this.reportValidity();
									}"
                    />
                    <label for="email">Enter Your Email</label>
                  </div>
                </div>
              {% endif %}
              {% if otperror %}
                {% if regenerate_opt == True %}
                  <div class="col-11 col-sm-9 mb-4">
                    You Can Send OTP Again <a href="/regenerateotp/{{email}}">Send Again?</a>
                  </div>

                {% else %}
                  <div class="col-11 col-sm-9 mb-4">
                    You can Send OTP Again After 1 min...
                  </div>
                {% endif %}
              {% endif %}

              <div class="col-11 col-sm-9 text-center">
                <button type="submit" class="btn btn-success">Proceed</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- Container Ending tag -->

{% endblock %}