{% extends "User Templates/Base.html" %}

{% block content%}

{% if messages %}
  {% for msg in messages %}
    {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
          Swal.fire({
          title: "Success!",
          text: "{{msg}}",
          icon: "success"
          });
        </script>
      {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
          Swal.fire({
          title: "Opps...",
          text: "{{msg}}",
          icon: "error"
          });
        </script>
      {% endif %}
  {% endfor %}
{% endif %}

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="loginbox" class="col-11 col-sm-10 col-md-7 col-lg-5 col-xl-4">     <!-- For Adjustment -->

          <div class="row">
            <div id="loginheading" class="col text-center">
                <h2>Login Help</h2>
            </div>
          </div>
          <form action="/{{url}}" method="post">
            {% csrf_token %}
            <input type="email" name="email" value="{{email}}" hidden placeholder="name@example.com">
            <div id="logincontent" class="row justify-content-center align-items-center ">

              <div class="col-11 col-sm-9">
                <div class="form-floating mb-4">
                  <input type="password" class="form-control" required id="floatingPassword1" name="createpassword" value = "{{createpassword}}" placeholder="Password">
                  <label for="floatingPassword1">Enter New Password</label>
                </div>
              </div>
              <div class="col-11 col-sm-9">
                <div class="form-floating mb-4">
                  <input type="password" class="form-control" required id="floatingPassword2" name="reenterpassword" value = "{{reenterpassword}}" placeholder="Password">
                  <label for="floatingPassword2">Re Enter New Password</label>
                </div>
              </div>
              {% if error %}
              <div class="col-11 col-sm-9">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>ERROR!</strong> {{error}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              {% endif %}
              <div class="col-11 col-sm-9 text-center">
                <button type="submit" class="btn btn-success">Proceed</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <!-- Container Ending tag -->

{% endblock %}