{% extends "User Templates/Base.html" %}

{% block content %}
{% load get_sp_amount %}
{% if messages %}
    {% for msg in messages %}
      {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
          Swal.fire({
          title: "Success!",
          text: "{{msg}}",
          icon: "success"
          });
        </script>
      {% elif msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
          Swal.fire({
          title: "Opps...",
          text: "{{msg}}",
          icon: "error"
          });
        </script>
      {% endif %}
    {% endfor %}
{% endif %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="sparepartssummarybox" class="col-11 col-sm-10 col-md-9 col-lg-6">     <!--For Adjustment-->
  
          <div class="row justify-content-center">
              <div id="sparepartssummaryboxheading" class="col-12">   <!--For Adjustment-->
                <h2 class="text-center mt-3 mb-3">Updated Payment Summary</h2>
              </div>
          </div>

          <div id="sparepartssummaryboxcontent" class="row justify-content-center ">
            <div class="col-12 col-sm-10 col-md-9 col-lg-8"><!--For Adjustment-->
              <div class="row mb-3">
                <div class="col-4"><h6>Name</h6></div>
                <div class="col-3"><h6>Price</h6></div>
                {% if catname == "Appliance" %}
                  <div class="col-2"><h6>Qty</h6></div>
                {% else %}
                  <div class="col-2"><h6>Sqf</h6></div>
                {% endif %}
                <div class="col-3"><h6>Amt</h6></div>
              </div>
              {% for i in updated_spareparts %}
                  <div class="row">
                    <div class="col-4">
                      <p>{{i.sparepart_id.sparepart_name}}</p>
                    </div>
                    <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price}}</div>
                    {% if catname == "Appliance" %}
                      <div class="col-2">{{i.quantity}}</div>
                      <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price|get_sparepart_amount:i.quantity}}</div>
                    {% else %}
                      <div class="col-2">{{i.square_feet}}</div>
                      <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price|get_sparepart_amount:i.square_feet}}</div>
                    {% endif %}
                  </div>
              {% endfor %}

              <div class="row fw-medium">
                <div class="col-8 col-md-9">
                  <p>Tax:</p>
                </div>
                <div class="col-4 col-md-3">
                  <p><i class="bi bi-currency-rupee"></i>{{tax}}</p>
                </div>
              </div>
              
              <div class="row border-top border-2 border-success-subtle fw-medium">
                <div class="col-8 col-md-9">
                  <p>Total Payment:</p>
                </div>
                <div class="col-4 col-md-3">
                  <p><i class="bi bi-currency-rupee"></i>{{total}}</p>
                </div>
              </div>
              <div class="row justify-content-center mt-5">
                <div class="col-8 col-md-9 text-center">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#PaymentModal" class="btn btn-primary mt-3 mb-3">Make Payment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- Payment Modal -->
                    <div class="modal fade" id="PaymentModal" tabindex="-1" aria-labelledby="PaymentModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content bg-secondary-subtle">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="PaymentModalLabel">Payment Using UPI</h1>
                            <button type="button" onclick="valuenull('ContactUsForm')" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body mt-4">
                            <div class="row justify-content-center">
                              <div class="col-10">
                                  <form action="/make_sparepart_payment" method="post">
                                    {% csrf_token %}
                                    <input type="number" name="task_id" value="{{task_id}}" hidden>
                                     <input type="number" name="tax" value="{{tax}}" hidden>
                                     <input type="number" name="total" value="{{total}}" hidden>
                                    <div class="form-floating mb-3">
                                        <input required type="text" name="upi_id" pattern="[A-Za-z0-9]{2,20}@[A-Za-z]{2,40}" title="REQUESTED FORMATE: maheshparmar@okaxiz" class="form-control" id="floatingInput1"  oninvalid="this.setCus" placeholder="">
                                        <label for="floatingInput1">Enter UPI ID</label>
                                        <button type="submit" class="btn btn-primary mt-3">Procced</button>
                                    </div>
                                  </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Modal Close here -->
{% endblock %}
      
