{% extends "Serviceman Templates/ServicemanBase.html" %}

{% block content %}
{% load get_sp_amount %}
{% if error %}
        <script>
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "{{error}}",
            });
        </script>
{% endif %}
{% if success %}
                <script>
                    Swal.fire({
                      title: "Success!",
                      text: "{{success}}",
                      icon: "success"
                    });
                </script>
{% endif %}
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div id="sparepartssummarybox" class="col-11 col-sm-10 col-md-9 col-lg-6">     <!--For Adjustment-->
  
          <div class="row justify-content-center">
              <div id="sparepartssummaryboxheading" class="col-12">   <!--For Adjustment-->
                <h2 class="text-center mt-3 mb-3">Payment Summary</h2>
              </div>
          </div>

          <div id="sparepartssummaryboxcontent" class="row justify-content-center ">
            <div class="col-12 col-sm-10 col-md-10"><!--For Adjustment-->
              <div class="row mb-3">
                <div class="col-4"><h6>Name</h6></div>
                <div class="col-3"><h6>Price</h6></div>
                {% if catname == "Appliance" %}
                  <div class="col-2"><h6>Qty</h6></div>
                {% else %}
                  <div class="col-2"><h6>Sqf</h6></div>
                {% endif %}
                <div class="col-3"><h6>Amt</h6></div>
              </div>
              {% for i in updated_spareparts %}
                  <div class="row">
                    <div class="col-4">
                      <p><a href="/remove_sp/{{i.sparepart_id.id}},{{task_id}}" class="link-danger me-1"><i class="bi bi-dash"></i></a>{{i.sparepart_id.sparepart_name}}</p>
                    </div>
                    <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price}}</div>
                    {% if catname == "Appliance" %}
                      <div class="col-2">{{i.quantity}}</div>
                      <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price|get_sparepart_amount:i.quantity}}</div>
                    {% else %}
                      <div class="col-2">{{i.square_feet}}</div>
                      <div class="col-3"><i class="bi bi-currency-rupee"></i>{{i.sparepart_id.sparepart_price|get_sparepart_amount:i.square_feet}}</div>
                    {% endif %}
                  </div>
              {% endfor %}

              <div class="row fw-medium">
                <div class="col-8 col-md-9">
                  <p>Tax:</p>
                </div>
                <div class="col-4 col-md-3">
                  <p><i class="bi bi-currency-rupee"></i>{{tax}}</p>
                </div>
              </div>
              
              <div class="row border-top border-2 border-success-subtle fw-medium">
                <div class="col-8 col-md-9">
                  <p>Total Payment:</p>
                </div>
                <div class="col-4 col-md-3">
                  <p><i class="bi bi-currency-rupee"></i>{{total}}</p>
                </div>
              </div>
              <div class="row justify-content-center mt-5">
                <div class="col-8 col-md-9 text-center">
                  <a href="/updatespareparts_page/{{task_id}}" class="btn btn-primary mb-2 mb-sm-0 me-3"><i class="bi bi-arrow-left-circle-fill ps-2 pe-2"></i></a>
                  <a href="/updatepayment/{{task_id}}" class="btn btn-success mb-2 mb-sm-0">Update Amount</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
      
